* {
	box-sizing: border-box;
	font-family: sans-serif;
	
}
	body {
		margin: 0;
		background-color: #ffffff;
		font-family: inter;
	}

	.logo {
		max-width: 10%;
		justify-content: center;
		align-self: stretch;
    padding-left: .8rem;
    padding-right: .8rem;
	
	}

	header{
		background-color: #9abcf8;
		color: #ffffff;
		padding: 2rem;
	}

	h1 {
		font-size: 2rem;
	}

	h2{
		font-size: 1.5rem;
	}

	h3{
		font-size: 1rem;
	}

	img {
		max-width: 100%;
	}


	.circle {
		border-radius: 50%;
		border: 5px solid #9abcf8;
	}

	a:link, a:visited {
		color: #9abcf8;
		text-decoration: none;
	}

	a:hover {
		color: #063689;
		text-decoration: underline;
	}

	.container_text {
		position: relative;
		text-align: center;
		color: white;
	  }

	  /* Centered text */
.centered_new_head {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
  }

  .centered_new_body {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  .centered_new_sub {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  .centered_new_button1 {
	position: absolute;
	top: 80%;
	left: 35%;
	transform: translate(-50%, -50%);
	color: #0000;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  .centered_new_button2 {
	position: absolute;
	top: 80%;
	left: 44.5%;
	transform: translate(-50%, -50%);
	color: #0000;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
  .centered_new_button3 {
	position: absolute;
	top: 80%;
	left: 55%;
	transform: translate(-50%, -50%);
	color: #0000;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }
  .centered_new_button4 {
	position: absolute;
	top: 80%;
	left: 68%;
	transform: translate(-50%, -50%);
	color: #0000;
	text-align: center;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
  }

  .centered_new_box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #FFF;
	text-align: center;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	
  }
	/***** Layout *****/
	
	.container {
		background-color: white;
		display: grid;
		gap: 1.5rem;
		grid-template-columns: repeat(12, 1fr);
		margin: 0 auto;
		width: min(95%, 75rem);
	}
	.container > * {
		grid-column: span 12;
	}

	.boxes {
		border-radius: 11px;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(<path-to-image>) lightgray 50% / cover no-repeat;
		width: 306px;
		height: 304px;
	}



	/***** Navigation Using Flexbox *****/

	nav {
		background-color: white;
		padding: 0 1rem;
		display: flex;
		justify-content: left;
		position: sticky;
		top: 0;
	}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-flow: row wrap;
	}
	nav li {
		margin: 0 0.5rem;
		justify-content: left;
	}
	nav a:link, nav a:visited {
		color: black;
		text-decoration: none;
		font-size: 1.125rem;
		padding: 1rem;
		display: block;
		transition: ease-in-out 250ms;
	}
	nav a:hover {
		color: gray;

	}

	.navigation-primary__logo{
		justify-content: center;
	}

	/***** Components *****/

	.button:link, .button:visited {
		color: black;
		background-color: #ffff;
		padding: 1rem 1.75rem;
		text-align: center;
		text-decoration: none;
		border-radius: 2rem;
		box-shadow: 0 .125rem .5rem rgba(0,0,0, .15);
		display: inline-block;
		margin: 0 .25rem .25rem 0;
		transition: background-color 0.5s ease;
	}

	.button:hover {
		background-color: black;
		color: #ffff;

	}

	.card {
		text-align: center;
		margin: 1rem;
		padding-bottom: 2rem;
		box-shadow: 0 .125rem .5rem rgba(0,0,0, .15);
	}

	.card-title {
		margin: 0.75rem 0 0 0;
		padding: 0 2rem 0.5rem;
	}

	.card-text{
		margin: 0.5rem 0 1rem 0;
		padding: 0 2rem 0.5rem;
	}





	/***** Desktop Layout***/
	@media screen and (min-width: 40rem) {
		.col-span-8 {
			grid-column: span 8;
		}
		.col-span-4 {
			grid-column: span 4;
		}

		.work-section {
			display: flex;
			justify-content: center;
			flex-flow: row wrap;
		}
	
	}




